#grid {
  width: 80%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #grid > .row {
    display: flex;
    height: 135px; }
    #grid > .row:nth-child(even) {
      margin-left: -150px; }

.clear:after {
  content: "";
  display: block;
  clear: both; }
