@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

$size : 150px;
$height: $size/sqrt(3);
$scaleFactor : 0.5774;
$borderColor : #333333;
$borderWidth: 5px;
$spacing: 1px;

.hexagon {
  box-sizing: border-box;
  position: relative;
  width: $size;
  height: $height;
  background-color: #64C7CC;
  margin: 43.30px 0;
  border-left: solid $borderWidth $borderColor;
  border-right: solid $borderWidth $borderColor;
  margin: $spacing;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  background-color: inherit;
  left: 16.9670px;

  @include transform(scaleY($scaleFactor) rotate(-45deg));
}

.hexagon:before {
  top: -53.0330px;
  border-top: solid 7.0711px $borderColor;
  border-right: solid 7.0711px $borderColor;
}

.hexagon:after {
  bottom: -53.0330px;
  border-bottom: solid 7.0711px $borderColor;
  border-left: solid 7.0711px $borderColor;
}
